{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/semantic-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'md_css/github.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>


<body>
<div class="ui huge fixed inverted menu">
    <a href="/" class='item'> 王 毅 诚 的 站 点&nbsp;&nbsp;<i class="fa fa-home fa-fw"></i></a>
    <a href="/blog/" class='item'>&nbsp;博 客&nbsp;&nbsp;<i class="fa fa-book" aria-hidden="true"></i></a>
    <a href="#" class='item'>&nbsp;资 源&nbsp;&nbsp;<i class="fa fa-folder" aria-hidden="true"></i></a>
    <a href="#" class='item'>&nbsp;其 他&nbsp;&nbsp;<i class="fa fa-cog" aria-hidden="true"></i></a>
    <div class="right menu">
        <a href="#" class='item'>关 于&nbsp&nbsp</a>
    </div>
</div>

{% block content %}
{% endblock %}
{% block footer %}
    <p>Thanks for visiting my site!</p>
{% endblock %}
</body>
</html>
